volumes:
  mysql:
  project:
  results:
  secrets:
  boinc-client-1-data:
  boinc-client-2-data:
  boinc-client-3-data:
  boinc-client-4-data:
  boinc-client-5-data:
  boinc-client-6-data:
  boinc-client-7-data:
  boinc-client-8-data:
  boinc-client-9-data:
  boinc-client-10-data:
  boinc-client-11-data:
  boinc-client-12-data:
  boinc-client-13-data:
  boinc-client-14-data:
  boinc-client-15-data:
  boinc-client-16-data:
  boinc-client-17-data:
  boinc-client-18-data:
  boinc-client-19-data:
  boinc-client-20-data:

networks:
  default:
    name: server_default

services:
  mysql:
    build: 
      context: images/mysql
    ports:
      - 3306:3306
    volumes:
      - "mysql:/var/lib/mysql"
    networks:
      - default

  makeproject:
    build: 
      context: images/makeproject
      args:
        - BOINC_USER
        - PROJECT_ROOT
    volumes:
      - "project:${PROJECT_ROOT:-/home/boincadm/project}.dst"
      - "secrets:/run/secrets"
    hostname: makeproject
    environment:
      - URL_BASE
      - PROJECT
    networks:
      - default

  apache:
    build: 
      context: images/apache
      args:
        - BOINC_USER
        - PROJECT_ROOT
    hostname: ${PROJECT:-boincserver}
    restart: unless-stopped
    depends_on:
      - mysql
      - makeproject
    volumes: 
      - "project:${PROJECT_ROOT:-/home/boincadm/project}"
      - "results:/results"
      - "secrets:/run/secrets"
      - "/dev/null:/run/secrets/keys/code_sign_private"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./dist_bin:/home/boincadm/project/dist_bin:ro"
    ports: 
      - "80:80"
    tty: true
    environment:
      - URL_BASE
      - PROJECT
    networks:
      - default

  # Шаблон для клиентов BOINC
  x-boinc-client: &boinc-client-template
    build:
      context: images/boinc-client
    depends_on:
      - apache
    networks:
      - default
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: '0.8'
        reservations:
          memory: 512M
          cpus: '0.4'
    environment:
      BOINC_PROJECT_URL: 'http://172.26.176.1/boincserver'
      BOINC_GUI_RPC_PASSWORD: "password"
      BOINC_CMD_LINE_OPTIONS: "--allow_remote_gui_rpc"
      BOINC_ACCOUNT_KEY: ${BOINC_ACCOUNT_KEY:-}

  boinc-client-1:
    <<: *boinc-client-template
    container_name: boinc-client-1
    hostname: boinc-client-1
    volumes:
      - boinc-client-1-data:/var/lib/boinc

  boinc-client-2:
    <<: *boinc-client-template
    container_name: boinc-client-2
    hostname: boinc-client-2
    volumes:
      - boinc-client-2-data:/var/lib/boinc

  boinc-client-3:
    <<: *boinc-client-template
    container_name: boinc-client-3
    hostname: boinc-client-3
    volumes:
      - boinc-client-3-data:/var/lib/boinc

  boinc-client-4:
    <<: *boinc-client-template
    container_name: boinc-client-4
    hostname: boinc-client-4
    volumes:
      - boinc-client-4-data:/var/lib/boinc

  boinc-client-5:
    <<: *boinc-client-template
    container_name: boinc-client-5
    hostname: boinc-client-5
    volumes:
      - boinc-client-5-data:/var/lib/boinc

  boinc-client-6:
    <<: *boinc-client-template
    container_name: boinc-client-6
    hostname: boinc-client-6
    volumes:
      - boinc-client-6-data:/var/lib/boinc

  boinc-client-7:
    <<: *boinc-client-template
    container_name: boinc-client-7
    hostname: boinc-client-7
    volumes:
      - boinc-client-7-data:/var/lib/boinc

  boinc-client-8:
    <<: *boinc-client-template
    container_name: boinc-client-8
    hostname: boinc-client-8
    volumes:
      - boinc-client-8-data:/var/lib/boinc

  boinc-client-9:
    <<: *boinc-client-template
    container_name: boinc-client-9
    hostname: boinc-client-9
    volumes:
      - boinc-client-9-data:/var/lib/boinc

  boinc-client-10:
    <<: *boinc-client-template
    container_name: boinc-client-10
    hostname: boinc-client-10
    volumes:
      - boinc-client-10-data:/var/lib/boinc

  boinc-client-11:
    <<: *boinc-client-template
    container_name: boinc-client-11
    hostname: boinc-client-11
    volumes:
      - boinc-client-11-data:/var/lib/boinc

  boinc-client-12:
    <<: *boinc-client-template
    container_name: boinc-client-12
    hostname: boinc-client-12
    volumes:
      - boinc-client-12-data:/var/lib/boinc

  boinc-client-13:
    <<: *boinc-client-template
    container_name: boinc-client-13
    hostname: boinc-client-13
    volumes:
      - boinc-client-13-data:/var/lib/boinc

  boinc-client-14:
    <<: *boinc-client-template
    container_name: boinc-client-14
    hostname: boinc-client-14
    volumes:
      - boinc-client-14-data:/var/lib/boinc

  boinc-client-15:
    <<: *boinc-client-template
    container_name: boinc-client-15
    hostname: boinc-client-15
    volumes:
      - boinc-client-15-data:/var/lib/boinc

  boinc-client-16:
    <<: *boinc-client-template
    container_name: boinc-client-16
    hostname: boinc-client-16
    volumes:
      - boinc-client-16-data:/var/lib/boinc

  boinc-client-17:
    <<: *boinc-client-template
    container_name: boinc-client-17
    hostname: boinc-client-17
    volumes:
      - boinc-client-17-data:/var/lib/boinc

  boinc-client-18:
    <<: *boinc-client-template
    container_name: boinc-client-18
    hostname: boinc-client-18
    volumes:
      - boinc-client-18-data:/var/lib/boinc

  boinc-client-19:
    <<: *boinc-client-template
    container_name: boinc-client-19
    hostname: boinc-client-19
    volumes:
      - boinc-client-19-data:/var/lib/boinc

  boinc-client-20:
    <<: *boinc-client-template
    container_name: boinc-client-20
    hostname: boinc-client-20
    volumes:
      - boinc-client-20-data:/var/lib/boinc
