TAG=-b2d
URL_BASE=http://172.26.176.1
PROJECT=boincserver
BOINC_USER=boincadm
PROJECT_ROOT=/home/boincadm/project
BOINC_PROJECT_URL=http://172.0.0.1/boincserver
DEFAULTARGS=-defaultargs
VERSION=latest
PROJECT_URL=http://172.0.0.1/boincserver
BOINC_USER_EMAIL=testuser@example.com
BOINC_USER_PASSWORD=testpass
BOINC_USER_NAME=TestUser

